*{
    margin:0;
    padding:0;
    font-family:Century-Gothic;
}

.header
{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.350),rgba(0, 0, 0, 0.350)),url(homepage.jpg);
    background-size:cover;
    background-position:center;
    position:relative;
}

.add-header
{
    min-height:100vh;
    width:100%;
    background-image:url(homepage.jpg);
    background-size:cover;
    background-position:center;
    position:relative;
}




nav
{ 
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}

nav img
{
    float:left;
    width: 240px;
    height:80px;
}

.nav-links
{
    flex:1;
    text-align:right;
}

.nav-links ul li
{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}

.nav-links ul li a
{
    color:#fff;
    text-decoration:none;
    font-size:20px;
}

.nav-links ul li::after
{
    content:'';
    width:0%;
    height:2px;
    background:#fff;
    display:block;
    margin:auto;
    transition:0.5s ease;
}

.nav-links ul li:hover::after
{
    width:100%;
}

.glass
{
    width:450px;
    height:250px;
    background-color:rgba(255,255,255,0.1);
    padding:40px;
    border-radius:5px;
    backdrop-filter:blur(8px);
    /*border:2px solid transparent;
    background-clip:padding-box;*/
    line-height:1.5;
}

.glass:hover
{
    box-shadow:0px 0px 10px 10px rgba(251, 253, 255, 0.3);
}

.add-glass
{
    width:550px;
    height:580px;
    background-color:rgba(255,255,255,0.1);
    padding:40px;
    border-radius:5px;
    backdrop-filter:blur(10px);
    /*border:2px solid transparent;
    background-clip:padding-box;*/
    line-height:1.5;
}

.add-glass:hover
{
    box-shadow:0px 0px 10px 10px rgba(251, 253, 255, 0.3);
}

fieldset 
{
    height:110px;
    border-radius:15px;
    background-color:rgba(255,255,255,0.1);
    border:2px solid transparent;
    background-clip:padding-box;
    color:#fff;
    padding: 3px 5px;
    width:70%
  }
  
  legend 
  {
    width:170px;
    height:30px;
    border-radius:10px;
    background-color:rgba(32, 31, 31, 0.356);
    color: white;
    padding: 5px 5px;
  }
  
  input 
  {
    margin: 5px;
  }
  
    .button 
    {
        border-radius:5px;
        background-color:rgba(95, 88, 88, 0.651);
        border:2px solid transparent;
        background-clip:padding-box;
        color:#fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover
{
    box-shadow:0px 0px 6px 6px rgba(251, 253, 255, 0.3);
}

  .button2 
     {
        background-color:rgba(95, 88, 88, 0.651);
    } 
  
    .button3
     {
        background-color:rgba(95, 88, 88, 0.651);
    } 

    .button3 a
    {
        color:#fff;
    }

table a:link, a:visited
 {
    /*background-color: lightblue;*/
    color: black;
    /*border: 2px solid green;*/
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(199, 191, 191);
  }
  
table a:hover, a:active 
  {
    /*background-color:rgb(247, 232, 232);*/
    color: rgb(255, 248, 248);
  }
  
  table, th,td 
  {
    /*border: 1px solid #fff;*/
    color:#fff;
  }