
audio {
/*border-radius: 90px;*/

/*padding-left:120px;*/
width: 1500px;
height: 75px;
margin-top: 5px;
margin-bottom: 5px;
}
img{
object-fit: cover;
		position: absolute;
		/*padding-right:120px;*/
		padding-left:450px;
		height:550px;
}


		
